<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<table class='table'>
    <thead class='thead-light'>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Details</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.title %></td>     
                <td><%= task.details %></td>     
                <td><%= task.date %></td>
                <td><%= link_to 'Edit', edit_category_task_path(@category, task.id) %></td>
                <td><%= button_to 'Delete Task', category_task_path(@category, task.id), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Add Task', new_category_task_path(@category) %> |
<%= link_to 'Back to Category', category_path(@category) %>



