<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table class = "table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.details %></td>
        <td><%= link_to "Open", category %></td>
        <td><%= link_to "Edit", edit_category_path(category.id) %></td>
        <td><%= button_to "Delete", category_path(category.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New category", new_category_path %>
