<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.details %></td>
        <td><%= link_to "Open Category", category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New category", new_category_path %>
